@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'tangerine';
        src: url("../../public/fonts/tangerine/Tangerine-Bold.ttf") format("truetype");
    }
}

@layer utilities {    
    .footer-responsive-menu{
        cursor: pointer;
    }
}
