<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock title %}
		</title>
		<meta name="description" content="L'entreprise, fictive, Bredele a pour but de diffuser la culture gastronimique alsacienne via les gâteaux de Noël appelés les bredele.">
		<meta name="author" content="Bruno Maucourt">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ asset('pictures/website_icon/LogoHeader.svg') }}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{% block additional_javascripts %}
		{% endblock %}
	</head>
	<body class="flex flex-col min-h-screen">
		{% block header %}
			{% include './parts/header.html.twig' %}
		{% endblock header %}
		{% block main %}
           
        {% endblock main %}
		{% block footer %}
			{% include './parts/footer.html.twig' %}
		{% endblock footer %}
	</body>
</html>
